<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add
      name="aula"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\COTI\Desktop\__Aula_31.08.17\Aula12\Projeto.WEB\App_Data\Banco.mdf;Integrated Security=True"
    />
  </connectionStrings>

</configuration>